# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = kdw9502
#	email = kdw9502@gmail.com
[push]
	default = matching
[user]
	name = kdw9502
	email = kdw9502@gmail.com
